<div id="margin" class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4" *ngFor="let favmovie of favMoviesList">
          <app-favmovie [favmovieSendByFavMovies]="favmovie"></app-favmovie>  
        </div>
    </div>
</div>
  
<div *ngIf="hideVar">
    <div class="jumbotron jumbotron-fluid text-center my-0 mx-0">
          <div class="container">
            <h1 class="display-4">Please Add Some Favrouite Movie First</h1>
            <p class="lead">You can add a favourite movie by searching a movie and clicking add to favourite button</p>
        </div>
    </div>
 </div>
    