 
 <div class="margin-top"></div>
 <div class="card my-3">
      <img id="imgsize" class="card-img-top" src="{{image_base}}{{favmovieSendByFavMovies.poster_path}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title one">{{favmovieSendByFavMovies.title}}</h5>
        <div id="scroll" class="card-text rubic">{{favmovieSendByFavMovies.overview}}</div>
        <p class="card-text"><small class="text-muted">{{favmovieSendByFavMovies.release_date}}</small></p>
        <button type="button"  class="btn btn-primary" (click)="deleteMovie(favmovieSendByFavMovies)">Delete From Favourite</button>
        <button type="button"  class="btn btn-primary" (click)="modifyMovie(favmovieSendByFavMovies)">Modify The Favourite</button>
      </div>
    </div>
  

  