<!-- Sponsor logos -->
<div class="py-5 section bg-faded bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="mb-4">Sponsors</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-6">
        <img class="center-block img-fluid d-block" src="../../../../assets/conference/logo_1.png"> </div>
      <div class="col-md-3 col-6">
        <img class="center-block img-fluid d-block" src="../../../../assets/conference/logo_4.png"> </div>
      <div class="col-md-3 col-6">
        <img class="center-block img-fluid d-block" src="../../../../assets/conference/logo_3.png"> </div>
      <div class="col-md-3 col-6">
        <img class="center-block img-fluid d-block" src="../../../../assets/conference/logo_2.png"> </div>
    </div>
  </div>
</div>
<!-- Call to action -->
<div class="py-5 section-aquamarine" id="register">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-md-left text-center">
        <h1 class="text-white">Subscribe Here</h1>
        <p>Suscribe to get a priority access to the upcoming movies. Fares will be published later on.&nbsp;
        Get the maximum from the trailers together with the possibility of joining exclusive side-events.</p>
      </div>
      <div class="col-md-4 align-self-center animate-in-right">
        <a href="#" class="btn btn-lg btn-light my-3">Subscribe now</a>
      </div>
    </div>
  </div>
</div>

<footer class="text-md-left text-center p-4 bg-dark text-light">
  <div class="container">
    <div class="row">
      <div class="my-3 col-lg-4 col-md-6">
        <h3>Movie Mania</h3>
        <p class="text-muted">December 12-14, 2017</p>
        <p class="my-3">
          <a href="https://goo.gl/maps/ayn28vkB5F92" target="blank" class="text-muted">Empire State building 350 5th Ave,
            <br>New York, NY 10118</a>
        </p>
        <a class="btn btn-lg btn-primary" href="#">Register now</a>
      </div>
      <div class="my-3 col-lg-4 col-md-6">
        <h3>Contact us</h3>
        <form>
          <fieldset class="form-group my-3">
            <input type="email" class="form-control" id="Input Email" placeholder="Email"> </fieldset>
          <fieldset class="form-group my-3">
            <input type="message" class="form-control" id="Input Message" placeholder="Message"> </fieldset>
          <button type="submit" class="btn btn-outline-primary">Submit</button>
        </form>
      </div>
      <div class="col-lg-1"> </div>
      <div class="my-3 col-lg-3">
        <h3>Follow</h3>
        <div class="row">
            <img class="center-block img-fluid d-block" src="../../../../assets/facebook.png">
            <img class="center-block img-fluid d-block" src="../../../../assets/insta.png">
            <img class="center-block img-fluid d-block" src="../../../../assets/twitter.png">
        </div>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <p class="text-muted">© Copyright 2018 Movie Mania - All rights reserved. </p>
      </div>
    </div>
  </div>
</footer>